services:
  bahmni-proxy:
    build: bahmni-proxy/
    networks:
      bahmni:
        aliases:
          - bahmni-proxy
    ports:
      - "80:80"
    volumes:
      - "./bahmni-proxy/confs:/usr/local/apache2/conf/extra"

  bahmniapps:
    build: bahmniapps/
    healthcheck:
      test:
        - CMD
        - curl
        - "-f"
        - "http://localhost:8900/bahmniapps/home/index.html"
      timeout: 20s
    networks:
      bahmni:
        aliases:
          - bahmniapps-1

  bahmni-config:
    build: bahmni_config/
    healthcheck:
      test:
        - CMD
        - curl
        - "-f"
        - "http://localhost:8901/bahmni_config/openmrs/apps/home/app.json"
      timeout: 20s
    networks:
      bahmni:
        aliases:
          - bahmni-config-1
    volumes:
      - "${BAHMNI_CONFIG_PATH:-bahmni_config}:/var/www/bahmni_config"

  openmrs-tomcat:
    depends_on:
      - openmrs-mysql
    environment:
      DB_AUTO_UPDATE: "true"
      DB_CREATE_TABLES: "true"
      DB_DATABASE: "${MYSQL_DB:-openmrs}"
      DB_HOST: openmrs-mysql
      DB_PASSWORD: "${MYSQL_PASSWORD:-Admin123}"
      DB_USERNAME: "${MYSQL_USER:-openmrs}"
      MODULE_WEB_ADMIN: "true"
    healthcheck:
      test:
        - CMD
        - curl
        - "-f"
        - "http://localhost:8080/openmrs/"
      timeout: 20s
    image: "openmrs/openmrs-distro-platform:2.1.3"
    networks:
      bahmni:
        aliases:
          - openmrs-1
    volumes:
      - "openmrs-tomcat-data:/usr/local/tomcat/.OpenMRS/"
      - /usr/local/tomcat/.OpenMRS/owa/
      - "${OPENMRS_MODULES_PATH:-openmrs_modules}:/usr/local/tomcat/.OpenMRS/modules/"
      - "${OPENMRS_CONFIG_PATH:-openmrs_config}:/usr/local/tomcat/.OpenMRS/configuration/"
      - ./properties/bahmnicore.properties:/usr/local/tomcat/.OpenMRS/bahmnicore.properties

  openmrs-mysql:
    command: "mysqld --character-set-server=utf8 --collation-server=utf8_general_ci"
    environment:
      MYSQL_DATABASE: "${MYSQL_DB:-openmrs}"
      MYSQL_PASSWORD: "${MYSQL_PASSWORD:-Admin123}"
      MYSQL_ROOT_PASSWORD: "${MYSQL_ROOT_PASSWORD:-Admin123}"
      MYSQL_USER: "${MYSQL_USER:-openmrs}"
    healthcheck:
      test: "exit 0"
    image: "mysql:5.6"
    networks:
      bahmni:
        aliases:
          - openmrs-mysql
    volumes:
      - "openmrs-mysql-data:/var/lib/mysql"
      - "./mysql-dump:/docker-entrypoint-initdb.d"
  postgres-mart:
    image: postgres:9.6-alpine
    environment:
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD:-password}"
    networks:
      bahmni:
        aliases:
          - postgres-mart
    volumes:
      - "mart-psql-data:/var/lib/postgresql/data"
      
  bahmni-mart:
    build:
      context: bahmni-mart/
      args:
        TIMEZONE: "${TIMEZONE:-UTC}"
    environment:
      ANALYTICS_PASSWORD: "${ANALYTICS_PASSWORD:-password}"
      OPENMRS_PASSWORD: "${MYSQL_PASSWORD:-Admin123}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD:-password}"
      MB_DB_PASS: "${METABASE_PASSWORD:-password}"
      CRON_TIME: "${CRON_TIME:-11 11 * * *}"
    depends_on:
       - postgres-mart
       - openmrs-mysql
    networks:
      bahmni:
        aliases:
          - bahmni-mart
    volumes:
      - "${BAHMNI_CONFIG_PATH:-bahmni_config}:/var/www/bahmni_config"
      - "${BAHMNI_HOME:-bahmni_home}:/home/bahmni"
  metabase:
    image: metabase/metabase:v0.31.2
    ports:
      - "9003:3000"
    environment:
      MB_DB_TYPE: postgres
      MB_DB_DBNAME: metabase
      MB_DB_PORT: 5432
      MB_DB_USER: metabase
      MB_DB_PASS: "${METABASE_PASSWORD:-password}"
      MB_DB_HOST: postgres-mart
    networks:
      bahmni:
        aliases:
          - metabase

version: "3.7"
volumes:
  openmrs-tomcat-data: ~
  openmrs-mysql-data: ~
  openmrs_config: ~
  openmrs_modules: ~
  bahmni_config: ~
  mart-psql-data: ~
  bahmni_home: ~
networks:
  bahmni:
  