services:
  proxy:
    build:
      context: proxy/
      args:
        TIMEZONE: "${TIMEZONE:-UTC}"
    healthcheck:
      test:
        - CMD
        - curl
        - "-f"
        - "http://localhost/"
    networks:
      bahmni:
        aliases:
          - bahmni-proxy
          - proxy
    ports:
      - "${PROXY_PORT:-80}:80"
      - "${PROXY_PORT_TLS:-443}:443"
    volumes:
      - "./proxy/confs:/usr/local/apache2/conf/extra"

  bahmniapps:
    build:
      context: bahmniapps/
      args:
        TIMEZONE: "${TIMEZONE:-UTC}"
    healthcheck:
      test:
        - CMD
        - curl
        - "-f"
        - "http://localhost:8900/bahmniapps/home/index.html"
      timeout: 20s
    networks:
      bahmni:
        aliases:
          - bahmniapps-1
    volumes:
      - "${BAHMNI_APPS_PATH:-bahmni_apps}:/var/www/bahmniapps"

  implementer-interface:
    build:
      context: implementer-interface/
      args:
        TIMEZONE: "${TIMEZONE:-UTC}"
    healthcheck:
      test:
        - CMD
        - curl
        - "-f"
        - "http://localhost:8902/implementer_interface/index.html"
      timeout: 20s
    networks:
      bahmni:
        aliases:
          - implementer-interface

  bahmni-config:
    build:
      context: bahmni_config/
      args:
        TIMEZONE: "${TIMEZONE:-UTC}"
    healthcheck:
      test:
        - CMD
        - curl
        - "-f"
        - "http://localhost:8901/bahmni_config/openmrs/apps/home/app.json"
      timeout: 20s
    networks:
      bahmni:
        aliases:
          - bahmni-config-1
    volumes:
      - "${BAHMNI_CONFIG_PATH:-bahmni_config}:/var/www/bahmni_config"

  openmrs-tomcat:
    build: openmrs/
    depends_on:
      - openmrs-mysql
    environment:
      DB_AUTO_UPDATE: "true"
      DB_CREATE_TABLES: "true"
      DB_DATABASE: "${MYSQL_DB:-openmrs}"
      DB_HOST: openmrs-mysql
      DB_PASSWORD: "${MYSQL_PASSWORD:-Admin123}"
      DB_USERNAME: "${MYSQL_USER:-openmrs}"
      MODULE_WEB_ADMIN: "true"
    healthcheck:
      test:
        - CMD
        - curl
        - "-f"
        - "http://localhost:8080/openmrs/"
      timeout: 20s
    networks:
      bahmni:
        aliases:
          - openmrs-1
    volumes:
      - "openmrs-tomcat-data:/usr/local/tomcat/.OpenMRS/"
      - /usr/local/tomcat/.OpenMRS/owa/
      - "${OPENMRS_MODULES_PATH:-openmrs_modules}:/usr/local/tomcat/.OpenMRS/modules/"
      - "${OPENMRS_CONFIG_PATH:-openmrs_config}:/usr/local/tomcat/.OpenMRS/configuration/"
      - ./properties/openmrs-bahmnicore.properties:/usr/local/tomcat/.OpenMRS/bahmnicore.properties

  openmrs-mysql:
    command: "mysqld --character-set-server=utf8 --collation-server=utf8_general_ci"
    environment:
      MYSQL_DATABASE: "${MYSQL_DB:-openmrs}"
      MYSQL_PASSWORD: "${MYSQL_PASSWORD:-Admin123}"
      MYSQL_ROOT_PASSWORD: "${MYSQL_ROOT_PASSWORD:-Admin123}"
      MYSQL_USER: "${MYSQL_USER:-openmrs}"
    healthcheck:
      test: "exit 0"
    image: "mysql:5.6"
    networks:
      bahmni:
        aliases:
          - openmrs-mysql
    volumes:
      - "openmrs-mysql-data:/var/lib/mysql"
      - "./sqls/mysql:/docker-entrypoint-initdb.d"

  bahmni-reports:
    build:
      context: bahmni-reports/
    environment:
      OPENMRS_DB_HOSTNAME: "openmrs-mysql"
      OPENMRS_DB_USERNAME: "${MYSQL_PASSWORD:-openmrs}"
      OPENMRS_DB_PASSWORD: "${MYSQL_PASSWORD:-Admin123}"
      ERP_DB_HOSTNAME: "postgres-db"
      ERP_DB_USERNAME: "admin"
      ERP_DB_PASSWORD: "admin"
      MYSQL_ROOT_USER: root
      MYSQL_ROOT_PASSWORD: "${MYSQL_ROOT_PASSWORD:-Admin123}"
      REPORTS_DB_HOSTNAME: "openmrs-mysql"
      REPORTS_DB_USERNAME: "reports-user"
      REPORTS_DB_PASSWORD: "${REPORTS_PASSWORD:-Admin123}"
      OPENMRS_HOSTNAME: "openmrs-tomcat"
      OPENMRS_USERNAME: "admin"
      OPENMRS_PASSWORD: "${OPENMRS_PASSWORD:-Admin123}"
      BAHMNI_LOGIN_URL: "http://localhost/bahmni/home/index.html#/login"
      BAHMNI_CONFIG_URL: "http://bahmni-config:8901/bahmni_config"
    ports:
      - 8080:8080
    healthcheck:
      test:
        - CMD
        - curl
        - "-f"
        - "http://localhost:8080/bahmni-reports"
    depends_on:
      - db-mart
      - openmrs-mysql
    networks:
      bahmni:
        aliases:
          - bahmni-reports
    volumes:
        - "${BAHMNI_CONFIG_PATH:-bahmni_config}:/var/www/bahmni_config"
        - "bahmni-reports-data:/reports"

  db-mart:
    image: postgres:9.6-alpine
    environment:
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD:-password}"
    networks:
      bahmni:
        aliases:
          - db-mart
    volumes:
      - "mart-psql-data:/var/lib/postgresql/data"

  bahmni-mart:
    build:
      context: bahmni-mart/
      args:
        TIMEZONE: "${TIMEZONE:-UTC}"
    environment:
      DB_MART: "${DB_MART_HOST:-db-mart}"
      DB_OPENMRS: "${DB_OPENMRS_HOST:-openmrs-mysql}"
      ANALYTICS_PASSWORD: "${ANALYTICS_PASSWORD:-password}"
      OPENMRS_DB_PASSWORD: "${MYSQL_PASSWORD:-Admin123}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD:-password}"
      MB_DB_PASS: "${METABASE_PASSWORD:-password}"
      CRON_TIME: "${CRON_TIME:-30 21 * * *}"
    depends_on:
       - db-mart
       - openmrs-mysql
    networks:
      bahmni:
        aliases:
          - bahmni-mart
    volumes:
      - "${BAHMNI_CONFIG_PATH:-bahmni_config}:/var/www/bahmni_config"
      - "${BAHMNI_HOME:-bahmni_home}:/home/bahmni"
      - "./bahmni-mart/conf:/opt/bahmni-mart/conf"

  metabase:
    image: metabase/metabase:v0.31.2
    ports:
      - "${METABASE_PORT:-9003}:3000"
    environment:
      MB_DB_TYPE: postgres
      MB_DB_DBNAME: metabase
      MB_DB_PORT: 5432
      MB_DB_USER: metabase
      MB_DB_PASS: "${METABASE_PASSWORD:-password}"
      MB_DB_HOST: db-mart
    networks:
      bahmni:
        aliases:
          - metabase

  odoo-postgresql:
    image: postgres:9.6
    environment:
      POSTGRES_USER: odoo
      POSTGRES_PASSWORD: odoo
      POSTGRES_DB: postgres
    networks:
      bahmni:
        aliases:
          - odoo-postgresql-1
    volumes:
      - odoo-postgresql-data:/var/lib/postgresql/data

  odoo:
    depends_on:
      - odoo-postgresql
    build:
      context: odoo/
    environment:
      HOST: odoo-postgresql
      PORT: 5432
      USER: odoo
      PASSWORD: odoo
    networks:
      bahmni:
        aliases:
          - odoo-1
    volumes:
      - "${ODOO_EXTRA_ADDONS:-odoo-extra_addons}:/mnt/extra-addons"
      - "${ODOO_CONFIG_PATH:-odoo_config}:/opt/odoo-config"
    ports:
      - "8069:8069"

  odoo-connect:
    build:
      context: odoo-connect/
    environment:
      ODOO_DB_SERVER: odoo-postgresql
      ODOO_DB: bahmni
      ODOO_DB_USERNAME: odoo
      ODOO_DB_PASSWORD: odoo
      APP_PROPERTIES_FILE: "/usr/local/tomcat/erp-atomfeed.properties"
    volumes:
      - "./properties/odoo-connect-atomfeed.properties:${APP_PROPERTIES_FILE:-/usr/local/tomcat/erp-atomfeed.properties}"
    networks:
      bahmni:
        aliases:
          - odoo-connect


version: "3.7"
volumes:
  openmrs-tomcat-data: ~
  openmrs-mysql-data: ~
  openmrs_config: ~
  openmrs_modules: ~
  bahmni_config: ~
  bahmni_apps: ~
  mart-psql-data: ~
  bahmni_home: ~
  odoo-postgresql-data: ~
  odoo-extra_addons: ~
  odoo_config: ~
  bahmni-reports-data: ~
networks:
  bahmni:
