services:

  # Apache HTTPD: Entry point for the application.
  proxy:
    image: mekomsolutions/proxy:bahmni_latest
    command: "httpd-foreground ${PROXY_TLS}"
    healthcheck:
      test:
        - CMD
        - curl
        - "-f"
        - "http://localhost/"
    networks:
      bahmni:
        aliases:
          - bahmni-proxy
          - proxy
    ports:
      - "${PROXY_PUBLIC_PORT}:80"
      - "${PROXY_PUBLIC_PORT_TLS}:443"
    volumes:
      - "./proxy/confs:/usr/local/apache2/conf/extra"
      - "${PROXY_TLS_CERTS_PATH:-proxy-tls-certs}:/etc/tls"

  # Bahmni Apps: The main front-end component
  # aka 'Bahmni EMR'
  bahmniapps:
    image: mekomsolutions/bahmniapps:bahmni_latest
    healthcheck:
      test:
        - CMD
        - curl
        - "-f"
        - "http://localhost:8900/home/index.html"
      timeout: 20s
    networks:
      bahmni:
        aliases:
          - bahmniapps-1
    volumes:
      - "${BAHMNI_APPS_PATH:-bahmni-apps}:/var/www"

  # Implementer Interface: Front-end application to bring Bahmni Forms 2.0
  implementer-interface:
    image: mekomsolutions/implementer-interface:bahmni_latest
    healthcheck:
      test:
        - CMD
        - curl
        - "-f"
        - "http://localhost:8902/implementer_interface/index.html"
      timeout: 20s
    networks:
      bahmni:
        aliases:
          - implementer-interface

  bahmni-home:
    image: mekomsolutions/httpd:bahmni_latest
    expose:
      - "8904"
    healthcheck:
      test:
        - CMD
        - curl
        - "-f"
        - "http://localhost:8904/document_images/index.html"
      timeout: 20s
    depends_on:
      - openmrs
    networks:
      bahmni:
        aliases:
          - bahmni-home-1
    volumes:
      - "${BAHMNI_HOME_PATH:-bahmni-home}:/var/www/"
      - ./properties/apache/httpd-8904.conf:/usr/local/apache2/conf/httpd.conf

  # Appointments
  appointments:
    image: mekomsolutions/appointments:bahmni_latest
    healthcheck:
      test:
        - CMD
        - curl
        - "-f"
        - "http://localhost:8903/appointments/index.html"
      timeout: 20s
    networks:
      bahmni:
        aliases:
          - appointments-1

  # Bahmni Config: Bahmni Apps configuration
  bahmni-config:
    image: httpd:2.4
    expose:
      - "8901"
    healthcheck:
      test:
        - CMD
        - curl
        - "-f"
        - "http://localhost:8901/openmrs/apps/home/app.json"
      timeout: 20s
    networks:
      bahmni:
        aliases:
          - bahmni-config-1
    volumes:
      - ./properties/apache/httpd-8901.conf:/usr/local/apache2/conf/httpd.conf
      - "${BAHMNI_CONFIG_PATH:-bahmni-config}:/var/www"

  # OpenMRS:
  openmrs:
    image: mekomsolutions/openmrs:bahmni_latest
    depends_on:
      - mysql
    environment:
      OPENELIS_HOST: openelis
      OPENELIS_ATOMFEED_USER: ${OPENELIS_ATOMFEED_USER}
      OPENELIS_ATOMFEED_PASSWORD: ${OPENELIS_ATOMFEED_PASSWORD}
      ODOO_USER: ${ODOO_USER}
      ODOO_PASSWORD: ${ODOO_PASSWORD}
      ODOO_DB: odoo
      ODOO_HOST: odoo
      ODOO_PORT: 8069
      MODULE_WEB_ADMIN: "true"
      DB_AUTO_UPDATE: "true"
      DB_CREATE_TABLES: "true"
      DB_HOST: mysql
      DB_DATABASE: openmrs
      DB_USERNAME: ${OPENMRS_DB_USER}
      DB_PASSWORD: ${OPENMRS_DB_PASSWORD}
      TZ: ${TIMEZONE}
    healthcheck:
      test:
        - CMD
        - curl
        - "-f"
        - "http://localhost:8080/openmrs/"
      timeout: 5s
    networks:
      bahmni:
        aliases:
          - openmrs
          - openmrs-tomcat
    volumes:
      - "openmrs-data:/usr/local/tomcat/.OpenMRS/"
      - "${OPENMRS_OWAS_PATH:-openmrs-owas}:/usr/local/tomcat/.OpenMRS/owa/"
      - "${OPENMRS_MODULES_PATH:-openmrs-modules}:/usr/local/tomcat/.OpenMRS/modules/"
      - "${OPENMRS_CONFIG_PATH:-openmrs-config}:/usr/local/tomcat/.OpenMRS/configuration/"
      - "${OPENMRS_CONFIG_CHECKSUMS_PATH:-openmrs-config-checksums}:/usr/local/tomcat/.OpenMRS/configuration_checksums/"
      - "${BAHMNI_HOME_PATH:-bahmni-home}:/home/bahmni/"
      - "${BAHMNI_OBSCALCULATOR_PATH:-bahmni-obscalculator}:/usr/local/tomcat/.OpenMRS/obscalculator/"
      - ./properties/openmrs/:/etc/properties/

  # MySQL
  mysql:
    image: "mariadb:10.3"
    command: "mysqld --character-set-server=utf8 --collation-server=utf8_general_ci"
    environment:
      MYSQL_DATABASE: openmrs
      MYSQL_USER: ${OPENMRS_DB_USER}
      MYSQL_PASSWORD: ${OPENMRS_DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: "${MYSQL_ROOT_PASSWORD}"
    healthcheck:
      test: "exit 0"
    networks:
      bahmni:
        aliases:
          - openmrs-mysql
    volumes:
      - "${MYSQL_DATADIR:-mysql-data}:/var/lib/mysql"
      - "${SQL_SCRIPTS_PATH:-./sqls}/mysql:/docker-entrypoint-initdb.d"

  # Bahmni Reports: Standalone Java app to provide Reporting capabilities
  bahmni-reports:
    image: mekomsolutions/bahmni-reports:bahmni_latest
    environment:
      # OpenMRS DB connection details
      OPENMRS_DB_HOSTNAME: mysql
      OPENMRS_DB_NAME: openmrs
      OPENMRS_DB_USERNAME: ${OPENMRS_DB_USER}
      MYSQL_PASSWORD: ${OPENMRS_DB_PASSWORD}
      # Odoo DB connection details
      ERP_DB_HOSTNAME: postgresql
      ERP_DB_USERNAME: ${ODOO_DB_USER}
      ERP_DB_PASSWORD: ${ODOO_DB_PASSWORD}
      # Additional MySQL root creds (?)
      MYSQL_ROOT_USER: root
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      # Bahmni Reports own database
      REPORTS_DB_HOSTNAME: mysql
      REPORTS_DB_NAME: bahmni_reports
      REPORTS_DB_USERNAME: ${REPORTS_DB_USER}
      REPORTS_DB_PASSWORD: ${REPORTS_DB_PASSWORD}
      # OpenMRS API credentials
      OPENMRS_HOSTNAME: openmrs
      OPENMRS_USERNAME: ${OPENMRS_USER}
      OPENMRS_PASSWORD: ${OPENMRS_PASSWORD}
      #
      BAHMNI_LOGIN_URL: "http://localhost/bahmni/home/index.html#/login"
      BAHMNI_CONFIG_URL: "http://bahmni-config:8901/"
    healthcheck:
      test:
        - CMD
        - curl
        - "-f"
        - "http://localhost:8080/bahmni-reports"
    depends_on:
      - postgresql
      - mysql
    networks:
      bahmni:
        aliases:
          - bahmni-reports
    volumes:
        - "${BAHMNI_CONFIG_PATH:-bahmni-config}:/var/www/bahmni_config"
        - "bahmni-reports-data:/reports"
        - ./properties/bahmni-reports/:/etc/conf/

  # Bahmni Mart: Standalone JAVA app to schedule ETL tasks
  bahmni-mart:
    image: mekomsolutions/bahmni-mart:bahmni_latest
    environment:
      # OpenMRS DB connection details
      OPENMRS_DB_HOST: mysql
      OPENMRS_DB_NAME: openmrs
      OPENMRS_DB_USER: ${OPENMRS_DB_USER}
      OPENMRS_DB_PASSWORD: ${OPENMRS_DB_PASSWORD}
      # Odoo DB connection details
      ERP_DB_HOSTNAME: postgresql
      ERP_DB_NAME: odoo
      ERP_DB_USERNAME: ${ODOO_DB_USER}
      ERP_DB_PASSWORD: ${ODOO_DB_PASSWORD}
      # Anayltics DB connection details. This is the actual Bahmni Mart database.
      ANALYTICS_DB_HOST: postgresql
      ANALYTICS_DB_NAME: analytics
      ANALYTICS_DB_USER: ${ANALYTICS_DB_USER}
      ANALYTICS_DB_PASSWORD: ${ANALYTICS_DB_PASSWORD}
      #
      CRON_TIME: ${CRON_TIME}
    depends_on:
       - openmrs
       - mysql
       - postgresql
    networks:
      bahmni:
        aliases:
          - bahmni-mart
    volumes:
      - "${BAHMNI_CONFIG_PATH:-bahmni-config}:/var/www/bahmni_config"
      - "${BAHMNI_HOME_PATH:-bahmni-home}:/home/bahmni"
      - "./bahmni-mart/conf:/opt/bahmni-mart/conf"

  # Metabase: Reporting paltform
  metabase:
    image: mekomsolutions/metabase:bahmni_latest
    environment:
      MB_DB_TYPE: postgres
      MB_DB_PORT: 5432
      MB_DB_DBNAME: metabase
      MB_DB_USER: ${METABASE_DB_USER}
      MB_DB_PASS: ${METABASE_DB_PASSWORD}
      MB_DB_HOST: postgresql
      MB_ADMIN_EMAIL: ${METABASE_USER}
      MB_ADMIN_PASSWORD: ${METABASE_PASSWORD}
    networks:
      bahmni:
        aliases:
          - metabase
    ports:
      - "${METABASE_PUBLIC_PORT}:3000"
    volumes:
      - ${BAHMNI_CONFIG_PATH:-}/metabase:/opt/metabase-config

  # Postgreql: Database shared by multiple services
  postgresql:
    image: postgres:9.6-alpine
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      # Metabase DB vars
      METABASE_DB_NAME: metabase
      METABASE_DB_USER: ${METABASE_DB_USER}
      METABASE_DB_PASSWORD: ${METABASE_DB_PASSWORD}
      # Analystics (Bahmni Mart)
      ANALYTICS_DB_NAME: analytics
      ANALYTICS_DB_USER: ${ANALYTICS_DB_USER}
      ANALYTICS_DB_PASSWORD: ${ANALYTICS_DB_PASSWORD}
      # Odoo DB vars
      ODOO_DB_NAME: odoo
      ODOO_DB_USER: ${ODOO_DB_USER}
      ODOO_DB_PASSWORD: ${ODOO_DB_PASSWORD}
      # OpenELIS DB Vars
      OPENELIS_DB_USER: ${OPENELIS_DB_USER}
      OPENELIS_DB_PASSWORD: ${OPENELIS_DB_PASSWORD}
      OPENELIS_DB_NAME: ${OPENELIS_DB_NAME}
    networks:
      bahmni:
        aliases:
          - odoo-postgresql
          - bahmni-mart-postgresql
          - bahmni-mart-db
    volumes:
      - ${POSTGRES_DATADIR:-postgresql-data}:/var/lib/postgresql/data
      - "${SQL_SCRIPTS_PATH:-./sqls}/postgresql:/docker-entrypoint-initdb.d"

  # Odoo: The ERP component of Bahmni
  odoo:
    depends_on:
      - postgresql
    image: mekomsolutions/odoo:bahmni_latest
    environment:
      HOST: postgresql
      PORT: 5432
      USER: ${ODOO_DB_USER}
      PASSWORD: ${ODOO_DB_PASSWORD}
      DB_NAME: odoo
      MASTER_PASSWORD: ${ODOO_MASTER_PASSWORD}
      INITIALIZER_DATA_FILES_PATH: ${ODOO_INITIALIZER_DATA_FILES_PATH}
      INITIALIZER_CONFIG_FILE_PATH: ${ODOO_INITIALIZER_CONFIG_FILE_PATH}
    networks:
      bahmni:
        aliases:
          - odoo-10
    volumes:
      - "${ODOO_EXTRA_ADDONS:-odoo-extra-addons}:/mnt/extra-addons"
      - "${ODOO_CONFIG_PATH:-odoo-config}:/opt/odoo-config"
      - "${ODOO_FILESTORE:-odoo-filestore}:/var/lib/odoo/filestore"
      - "${OPENMRS_CONFIG_PATH:-openmrs-config}:/opt/openmrs-config"
      - ./properties/odoo/:/etc/properties/
    ports:
      - "${ODOO_PUBLIC_PORT}:8069"

  # Odoo Connect: Integration layer between OpenMRS, Odoo and OpenELIS (?)
  # aka 'Bahmni ERP Connect' or 'OpenERP Connect'
  odoo-connect:
    depends_on:
      - postgresql
      - odoo
    image: mekomsolutions/odoo-connect:bahmni_latest
    environment:
      # Odoo
      ODOO_DB_SERVER: postgresql
      ODOO_DB: odoo
      ODOO_DB_USERNAME: ${ODOO_DB_USER}
      ODOO_DB_PASSWORD: ${ODOO_DB_PASSWORD}
      ODOO_HOST: odoo
      ODOO_USERNAME: ${ODOO_USER}
      ODOO_PASSWORD: ${ODOO_PASSWORD}
      # OpenMRS
      OPENMRS_HOST: openmrs
      OPENMRS_USER: ${OPENMRS_USER}
      OPENMRS_PASSWORD: ${OPENMRS_PASSWORD}
      # OpenELIS
      OPENELIS_HOST: openelis
      OPENELIS_USER: ${OPENELIS_USER:-openelis}
      OPENELIS_PASSWORD: ${OPENELIS_PASSWORD:-password}
      #
      APP_PROPERTIES_FILE: "/usr/local/tomcat/erp-atomfeed.properties"
    volumes:
      - "./odoo-connect/conf/atomfeed.properties:/usr/local/tomcat/erp-atomfeed.properties"
    networks:
        bahmni:
          aliases:
            - odoo-connect
  openelis:
    image: mekomsolutions/openelis:bahmni_latest
    depends_on:
      - postgresql
    environment:
      OPENELIS_DB_HOST: postgresql
      OPENMRS_HOST: openmrs
      OPENMRS_USER: ${OPENMRS_USER}
      OPENMRS_DB_SERVER: mysql
      OPENMRS_DB_PASSWORD: ${OPENMRS_DB_PASSWORD}
      OPENMRS_DB_USERNAME: ${OPENMRS_DB_USER}
      OPENMRS_PASSWORD: ${OPENMRS_PASSWORD}
      OPENELIS_DB_USER: ${OPENELIS_DB_USER}
      OPENELIS_DB_PASSWORD: ${OPENELIS_DB_PASSWORD}
      OPENELIS_DB_NAME: ${OPENELIS_DB_NAME}
      ATOMFEED_PROPERTIES_FILE_PATH: ${ATOMFEED_PROPERTIES_FILE_PATH:-/usr/local/tomcat/.OpenELIS/atomfeed.properties}
      HIBERNATE_PROPERTIES_FILE_PATH: ${HIBERNATE_PROPERTIES_FILE_PATH:-/usr/local/tomcat/.OpenELIS/hibernate.properties}
    healthcheck:
      test: "exit 0"
    networks:
      bahmni:
        aliases:
          - openelis
    volumes:
      - ./properties/openelis/:/etc/properties/

version: "3.7"
volumes:
  proxy-tls-certs: ~
  openmrs-data: ~
  mysql-data: ~
  openmrs-config: ~
  openmrs-config-checksums: ~
  openmrs-modules: ~
  openmrs-owas: ~
  bahmni-config: ~
  bahmni-obscalculator: ~
  bahmni-apps: ~
  bahmni-home: ~
  postgresql-data: ~
  odoo-extra-addons: ~
  odoo-config: ~
  odoo-filestore: ~
  bahmni-reports-data: ~
networks:
  bahmni:
